NET "osc" LOC = P50;

NET "SW_INPUT0" LOC = P1;
NET "SW_INPUT1" LOC = P2;
NET "SW_INPUT2" LOC = P5;
NET "SW_COMMON0" LOC = P6;
NET "SW_COMMON1" LOC = P7;
NET "SW_COMMON2" LOC = P8;

NET "LED[0]" LOC = P9;
NET "LED[1]" LOC = P10;
NET "LED[2]" LOC = P11;
NET "LED[3]" LOC = P12;
NET "LED[4]" LOC = P14;
NET "LED[5]" LOC = P15;
NET "LED[6]" LOC = P16;
NET "LED[7]" LOC = P17;

NET "DIP_SW0" LOC = P117;
NET "DIP_SW1" LOC = P118;
NET "DIP_SW2" LOC = P119;

NET "Mode_Switch" LOC = P127;

NET "FND_COM[3]" LOC = P21;
NET "FND_COM[2]" LOC = P22;
NET "FND_COM[1]" LOC = P23;
NET "FND_COM[0]" LOC = P24;


NET "FND_DATA[7]" LOC = P29;
NET "FND_DATA[6]" LOC = P30;
NET "FND_DATA[5]" LOC = P32;
NET "FND_DATA[4]" LOC = P33;
NET "FND_DATA[3]" LOC = P34;
NET "FND_DATA[2]" LOC = P35;
NET "FND_DATA[1]" LOC = P55;
NET "FND_DATA[0]" LOC = P40;


NET "LCD_RS" LOC = P143;
NET "LCD_EN" LOC = P141;

NET "LCD_DATA[0]" LOC = P140;
NET "LCD_DATA[1]" LOC = P139;
NET "LCD_DATA[2]" LOC = P138;
NET "LCD_DATA[3]" LOC = P137;
NET "LCD_DATA[4]" LOC = P134;
NET "LCD_DATA[5]" LOC = P133;
NET "LCD_DATA[6]" LOC = P132;
NET "LCD_DATA[7]" LOC = P131;

NET "Buzz" LOC = P26;
NET "Relay" LOC = P27;
//motor
NET "motor" LOC = P95;

NET "Thermistor" LOC = P45;
NET "RXD" LOC = P66;
NET "TXD" LOC = P67;

NET "osc" TNM_NET = "tnm_osc";
TIMESPEC "TS_osc" = PERIOD "tnm_osc" 20ns HIGH 50%;
